*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif; 
    background-image: linear-gradient(to right ,#131086, #b621f3);
}

header{
    display: flex;
    color: aliceblue;
    
}

img{
    width: 10%;
}

.nome{
    margin-left: 5%;
    font-size: 42px;
    font-weight: bold;
}

.opcoes{
    display: flex;
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 1%;
    font-size: 37px;
    border-radius: 90px;
    width: 69%;
}

.menu{
    text-decoration: none;
    margin-left: 9%;
    color: #7921f3;
}

.menu:hover{
    transition: 0.3s;
    color: rgb(228, 12, 206);
}

.lixeira{
    
    width: 28%;
}

.descricao{
    display: flex;
    padding: 2%;
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 16%;
    font-size: 28px;
    border-radius: 20px;
    width: 70%;
}

/* Página cadastro */

.container{

    margin-top: 5%;
    margin-left: 22%;
    margin-right: 20%;
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
    
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    background-color: rgb(232, 233, 234);
}

.login-right{
    display: flex;
    justify-content: center;  
    
}

.login-header{
    margin-top: 12px;
    margin-bottom: 10%;
    font-size: 18px;
}

.points {
    color: #7921f3;
}

.login-form{
    margin-bottom: 20%;
}

.form-item{
    margin: 0 0 8% 0;
    font-size: 18px;
}

input{
    font-size: 16px;
    border-radius: 20px;
    width: 60%;
    padding: 4px;
    color: #7921f3;
}

button{
    margin-left: 8%;
    font-size: 18px;
    border-radius: 30px;
    padding: 7px;
    background:  linear-gradient(to right ,#131086, #b621f3);
    color: white;
    border: none;
    width: 70%;
}



img{
    width: 100%;
}

