*{
    margin: 0;
    padding: 0;
}


body{
    margin-top: 2%;
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif; 
    background-image: linear-gradient(to right ,#131086, #b621f3);
}

header{
    color: aliceblue;;  
}


.nome{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.opcoes{
    background-color: aliceblue;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 35px;
    border-radius: 50px;
    width: 70%;
    text-align: center;
}

.menu{
    text-decoration: none;
    margin: 3%;
    color: #7921f3;
}

.menu:hover{
    transition: 0.3s;
    color: rgb(228, 12, 206);
}

.titulo-home{
    font-size: 25px;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.descricao{
    display: block;
    padding: 2%;
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 34px;
    border-radius: 10px;
    width: 66%;
    margin-bottom: 10%;
}

.descricao p{
    width:100%;
}


.imagem{
    width: 100%;
}

footer{
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0;
}

/* Página cadastro */

.container{
    position: absolute;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 20%;
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
    
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    background-color: rgb(218, 220, 221);
}

.login-right{
    display: flex;
    justify-content: center;  
    
}

.login-header{
    margin-top: 12px;
    margin-bottom: 5%;
    font-size: 20px;
}

.points {
    color: #7921f3;
}

.login-form{
    margin-bottom: 10%;
}

.form-item{
    margin: 0 0 8% 0;
    font-size: 22px;
}

input{
    font-size: 16px;
    border-radius: 20px;
    width: 60%;
    padding: 3px;
    color: #7921f3;
    display:block;
}

button{
    font-size: 20px;
    border-radius: 30px;
    padding: 4px 6px 3px 4px;
    background:  linear-gradient(to right ,#131086, #b621f3);
    color: white;
    border: none;
    width: 62%;
}

button:hover{
    background: rgb(255, 255, 255);
    color:#a30dee;
    cursor: pointer;
    transition: 0.4s;
}

img{
    width: 100%;
}

/*Página teste*/

#pontos{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    margin-top: 3%;
    font-weight: bold;  
}

.premio{
    background-color: aliceblue;
    color: #7921f3;
    width: 70%;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    margin-left: 15%;
    margin-top: 2%;
}

.premio:hover{
    background: linear-gradient(to right ,#131086, #b621f3);
    color: aliceblue;
    transition: 0.4s;
    border: 4px white;
    cursor: pointer;
}

/*Página Progresso*/

.texto-progresso{
    color: aliceblue;
    text-align: center;
    margin-top: 5%;
}

/* Página Sobre*/

.texto-sobre{
    margin-top: 4%;
}